$button-size: 56px;
$font-size: 24px;
$margin: 10px;

.floating-action-button {
  border-radius: 50%;
  bottom: $margin;
  box-shadow:
    0 3px 5px -1px rgba(0, 0, 0, 20%),
    0 6px 10px 0 rgba(0, 0, 0, 14%),
    0 1px 18px 0 rgba(0, 0, 0, 12%);
  display: block;
  font-size: $font-size;
  height: $button-size;
  opacity: 50%;
  position: fixed;
  right: $margin;
  width: $button-size;

  i {
    display: inline-block;
    left: 0;
    position: absolute;
    text-align: center;
    top: ($button-size * 0.5 - $font-size * 0.5);
    width: 100%;
  }
}

footer {
  padding-bottom: ($button-size + $margin * 1.5);
}
