html, body {
    height: 100%;
}

body {
    font-family: 'Mplus 1p', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Martel', serif;
    font-weight: bold;
}

code, pre, .monospace {
    font-family: 'Ubuntu Mono', 'Mplus 1p', monospace;
}

.navbar-brand {
    font-weight: bold;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0;

    & > .container {
        padding: 70px 15px 20px;
    }
}
