@use 'sass:math';

:root {
  --bs-font-sans-serif:
    'BIZ UDPGothic',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

body,
.btn {
  font-weight: 500;
}

.wrap {
  height: auto;
  margin: 0 auto -60px;
  min-height: 100%;
  padding: 0;
}

.inline-list {
  display: block;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    &::after {
      content: ', ';
      display: inline;
      white-space: normal;
    }

    &:last-child::after {
      display: none;
    }
  }

  .inline-list {
    display: inline;
  }
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: math.div($spacer, 4),
  2: math.div($spacer, 2),
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

@each $loc in ['first', 'last'] {
  @each $spKey, $spVal in $spacers {
    .mt-#{$spKey}-#{$loc} {
      > :#{$loc}-child {
        margin-top: $spVal;
      }
    }
    .mb-#{$spKey}-#{$loc} {
      > :#{$loc}-child {
        margin-bottom: $spVal;
      }
    }
  }
}
