@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Montserrat:wght@500&display=swap');

:root {
  --bs-font-sans-serif:
    -apple-system,
    'Montserrat',
    'Kosugi Maru',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

body,
.btn {
  font-weight: 500;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0;
}

.inline-list {
  display: block;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    &::after {
      display: inline;
      content: ', ';
    }

    &:last-child::after {
      display: none;
    }
  }

  .inline-list {
    display: inline;
  }
}
