.DS_Store
.buildpath
.idea
.project
.settings
/.browserslistrc
/.production
/config/cookie-secret.php
/config/deploy-id.php
/data/licenses
/models/Migration.php
/node_modules
/phpunit.xml
/resource/**/*.br
/resource/**/*.css
/resource/**/*.gz
/resource/**/*.js
/tests/_output/*
/tests/_support/_generated
/vendor
/web/coverage
/web/images/**/*.br
/web/images/**/*.gz
/web/images/**/*.min.*
/web/images/**/*.svg
Thumbs.db
composer.phar
nbproject
phpunit.phar
