.DS_Store
.buildpath
.idea
.project
.settings
/.browserslistrc
/.production
/config/cookie-secret.php
/data/licenses
/models/Migration.php
/node_modules
/phpunit.xml
/resource/**/*.br
/resource/**/*.css
/resource/**/*.gz
/resource/**/*.js
/vendor
/web/images/**/*.br
/web/images/**/*.gz
/web/images/**/*.min.*
/web/images/ostatus.svg
Thumbs.db
composer.phar
nbproject
phpunit.phar
tests/_output/*
tests/_support/_generated
